<div class="row">
	<h2 class="title-left"><span class="underbar">犬猫別一覧（<%= @genre.name %>）</span></h2>
	<div class="text-center index-space">
		<% if @animals.exists? %>
			<%= render 'animals/animals', animals: @animals %>
		<% else %>
			<h3>現在、募集がありません</h3>
		<% end %>
	</div>
</div>
<div class="row">
  <div class="col-xs-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @animals %>
    </div>
  </div>
</div>