<div class="about">
	<p class="touch">↓タッチしてください↓</p>
	<div class="about_FosPa">
		<div>
			<span class="underbar">FosPaとは！？</span>
		</div>
		<p class="about_comment">
			犬猫を家族として迎えたい方、そのもらい手を探している方を結ぶサイトです。<br>
			近年、ペットブームの影響による飼育数の増加から飼育放棄される動物の<br>
			数も増加しています。その数は、数十年前より大きく減少はしていますが、<br>
			「環境省の犬・猫の殺処分の統計」の平成３０年のデータによると<br>
			年間約３万８千頭に昇り、一日あたり１００頭近くの犬猫が殺処分されています。<br>
			そこで殺処分ゼロをにしたいという願いからこのサイトを作成しました。<br>
			＊ポートフォリオ用に制作したサイトになります＊
		</p>
	</div>
</div>
