<div class="row">
  <div class="col-xs-12">
    <h2 class="title-left"><span class="underbar">募集フォーム</span></h2>
  </div>
</div>
<%= form_for(@animal) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= render 'animals/animal_form', f: f, animal: @animal, bleed_dog: @bleed_dog, bleed_cat: @bleed_cat %>
  <div class="row form-space">
    <div class="col-md-3 col-md-offset-5 col-xs-4 col-xs-offset-6">
      <%= f.submit "募集する", class: "btn btn-info" %>
    </div>
  </div>
<% end %>