<div class="notification">
  <% if @notifications.exists? %>
    <%= render 'demand_user_notifications/notifications', notifications: @notifications %>
    <%= paginate @notifications %>
  <% else %>
    <div class="col-xs-12 text-center index-space">
      <h3>通知がありません</h3>
    </div>
  <% end %>
</div>